IN_DOCKER=true
COAR_NOTIFY_USE_LOCAL=false
COAR_NOTIFY_API_URL=http://localhost:3001/
# Common path prefix for all subvolume bind mounts to facilitate backup create and restoration
# Note: This path needs to start with either "./" or "/" and needs to end with a "slash".
# This is to allow for setting this to an empty string or not defining the variable at all if Docker's standard volume directory should be used.
DOCKER_VOLUMES_PATH_PREFIX="./volumes/"

# Solr settings
SOLR_URL_SCHEME=http
SOLR_HOST=solr
SOLR_PORT=8983
SOLR_CORE=hyrax_production
SOLR_TEST_PORT=8983
SOLR_TEST_CORE=hyrax_test
SOLR_LOG_LEVEL=WARN

# Database settings
POSTGRES_HOST_APP=appdb
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB_APP=hyrax_coar_notify_production
POSTGRES_DB_TEST=hyrax_coar_notify_test

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
HYRAX_ACTIVE_JOB_QUEUE=sidekiq

# Rails settings
LANG=C.UTF-8
PORT=3000
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
RAILS_MAX_THREADS=5
# The secret key should be a very long random key.
# You can use "$ bundle exec rails secret" to generate one.
SECRET_KEY_BASE_PRODUCTION=
DEVISE_SECRET_KEY=
RAILS_FORCE_SSL=false

# Hyrax application settings
HOST_APP_DATA_PATH=/data/
# DERIVATIVES_PATH is used by Docker build and is therefore fixed in the resulting Docker image
DERIVATIVES_PATH=/shared/derivatives/
# UPLOADS_PATH is used by Docker build and is therefore fixed in the resulting Docker image
UPLOADS_PATH=/shared/uploads/
# CACHE_PATH is used by Docker build and is therefore fixed in the resulting Docker image
CACHE_PATH=/shared/cache/
# DOWNLOAD_PATH is used for file downloads
DOWNLOAD_PATH=/shared/downloads/

# Application URLs and Emails
DEFAULT_DATE_FORMAT=%Y-%m-%d
NOTIFICATIONS_EMAIL_DEFAULT_FROM_ADDRESS=no-reply@hyrax-coar-notify.org
USER_MANAGEMENT_EMAIL_FROM_ADDRESS=admin@hyrax-coar-notify.org
CONTACT_FORM_SUBJECT_PREFIX='Hyrax COAR Notify Contact form:'
CONTACT_EMAIL=admin@hyrax-coar-notify.org
FROM_EMAIL=noreply@hyrax-coar-notify.org
SMTP_HOST=
SMTP_PORT=
SMTP_PASS=

# Host used for generating URLs
APP_HOST=localhost:3000
# APPLICATION_URL should not have trailing slash
APPLICATION_URL=http://localhost:3000

# If the rails server is configured to serve requests in https, set this to true
IIIF_TO_SERVE_SSL_URLS=false
IIIF_SEARCH_ENDPOINT=
CONFIG_IIIF_IMAGE_ENDPOINT=

# Valkyrie config
VALKYRIE_METADATA_ADAPTER=pg_metadata
VALKYRIE_STORAGE_ADAPTER=repository_s3

# S3 settings (if using S3 for file storage)
USE_S3=false
S3_ENDPOINT=https://s3.location.example.com
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=
S3_INITIAL_FILE_UPLOAD_BUCKET=
S3_FILE_UPLOAD_BUCKET=
S3_EXPIRY=1
S3_DOWNLOAD_TIME=6

# File uploads settings
RUBY_THREAD_MACHINE_STACK_SIZE=8388608
RUBY_THREAD_VM_STACK_SIZE=8388608
MAX_FILES=1000
MAX_FILE_SIZE=2000000000

# System users
SYSTEM_ADMINISTRATOR=admin@hyrax-coar-notify
SYSTEM_PUBLICATION_MANAGER=publisher@hyrax-coar-notify

# File downloads
DOWNLOAD_FILES_SIZE_LIMIT=100000000
